*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    font-size: 14px;
}

body{
    background-color: #ca9797;
    height: 100%;
}

.container{
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

.degrade{
    background: linear-gradient(to right, #ffb9cb, #d8b5c4);
    
}

header{
    text-align: center;
    margin-bottom: 40px;
}

header img{
    max-width: 160px;
    margin-bottom: 20px;
}

header p{
    font-size: 16px;
    font-family: arial;
}

section.botoes-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
}

a.link button{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: .2s;
    color: rgb(0, 0, 0);

}

a.link button:hover{
    transform: scale(1.05);
}

.map-container{
    display: flex;
    justify-content: center;
    margin: -24px 50px 27px 47px;
}


footer{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: rgb(0, 0, 0);
 
}